
@{
    ViewBag.Title = "Lỗi 404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="contentSection">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="left_content">
                <div class="error_page">
                    <h3>Rất tiếc</h3>
                    <h1>404</h1>
                    <h4><i class=" fa fa-exclamation-triangle" aria-hidden="true"></i> Không tìm thấy đường dẫn này</h4>
                    <span></span> <a href="@Url.Action("Index", "Index")" class="wow fadeInLeftBig">Quay về trang chủ</a>
                </div>
            </div>
        </div>
    </div>
    <h3></h3>
</section>


