
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Title {Dashboard}

<!-- NProgress -->
<link href="~/Assets/vendors/nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck -->
<link href="~/Assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- JQVMap -->
<link href="~/Assets/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
 <!-- Custom Theme Style -->
<link href="~/Assets/build/css/custom.min.css" rel="stylesheet">

 

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-6" style="padding: 30px">
                                <p>USA Vector Map</p>
                                <div id="usa_map" style="height:400px !important;"></div>
                            </div>
                            <div class="col-md-6" style="padding: 30px">
                                <p>World Vector Map</p>
                                <div id="world-map-gdp" style="height:400px;"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-body">
                                    <div class="x_title">
                                        <h4>Easy Pie Chart</h4>
                                    </div>
                                    <p>Easy pie chart is a jQuery plugin that uses the canvas element to render highly customizable, very easy to implement, simple pie charts for single values.</p>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <span class="chart" data-percent="86">
                                                <span class="percent"></span>
                                            </span>
                                        </div>
                                        <div class="col-xs-4">
                                            <span class="chart" data-percent="73">
                                                <span class="percent"></span>
                                            </span>
                                        </div>
                                        <div class="col-xs-4">
                                            <span class="chart" data-percent="60">
                                                <span class="percent"></span>
                                            </span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-body">
                                    <div class="x_title">
                                        <h4>Sparkline Inline Graphs</h4>
                                    </div>
                                    <p>Yet another great library for inline data visualizations</p>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width:20%"></th>
                                                <th style="width:50%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <span class="sparkline_line" style="height: 160px;">
                                                        <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                                                    </span>
                                                </th>
                                                <td>Line Graph</td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <span class="sparkline_area" style="height: 160px;">
                                                        <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                                                    </span>
                                                </th>
                                                <td>Line Area Graph</td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <span class="sparkline_bar" style="height: 160px;">
                                                        <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                                                    </span>
                                                </th>
                                                <td>Bar Graph</td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <span class="sparkline_pie" style="height: 160px;">
                                                        <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                                                    </span>
                                                </th>
                                                <td>Pie Chart</td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <span class="sparkline_discreet" style="height: 160px;">
                                                        <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                                                    </span>
                                                </th>
                                                <td>Discrete chart</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   



<!-- FastClick -->
<script src="~/Assets/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="~/Assets/vendors/nprogress/nprogress.js"></script>
<!-- jQuery Sparklines -->
<script src="~/Assets/vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- JQVMap -->
<script src="~/Assets/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="~/Assets/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="~/Assets/vendors/jqvmap/dist/maps/jquery.vmap.usa.js"></script>
<script src="~/Assets/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- easy-pie-chart -->
<script src="~/Assets/vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
<!-- Custom Theme Scripts -->