<header id="header">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="header_top">
                <div class="header_top_left">
                    <ul class="top_nav">
                        <li><a><i class="fa fa-phone" aria-hidden="true"></i> (08) 0509-1995</></a></li>
                        <li><a href="~/gioi-thieu">About</a></li>
                        <li><a href="~/lien-he">Contact</a></li>
                    </ul>
                </div>
                <div class="header_top_right">
                    <p><a style="color: #fff" href="~/dang-nhap"><i class="fa fa-sign-in"></i> Đăng nhập</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="header_bottom">
                <div class="logo_area"><a href="~/" class="logo"><b>AnhDo <strong style="color: #ad12ae">News</strong></b></a></div>
                <div class="add_banner"><a><img src="~/Assets/upload/quangcao/banner_top_home.jpg" alt=""></a></div>
            </div>
        </div>
    </div>
</header>
